body{
    text-align: center;
}
#info{
    list-style:none;
}
#info li{

    text-align:left;
    font-size:1.5em;
}
#info li a{
    font-style: normal;
    text-decoration: none;
}
.info{
    font-weight: bold;

}
.fig{
    width: 10em;
    height: 10em;
    border-radius: 100%;
}
#img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.fig,#info{
    display: inline-block;
    vertical-align: middle;


}
h1{
    color:#927b7b;
    font-size:3em;
    cursor: pointer;
}
h1:hover{
    color: brown;
}
.puce{
    list-style:circle ;
    margin:3em;
}
.anne{
    color: rgb(124, 36, 4);
    font-style: italic;
    font-weight: 700;
}
.etb{

    color: rgb(231, 69, 9);
    font-style: italic;
    font-weight:800;
}
.content{
    width:50%;
    margin:auto;
    text-align:left;
    box-shadow: 0px 0px 10px black;
    padding: 1em;
}
.content:hover{
    
    box-shadow: 0px 0px 10px rgb(207, 109, 109);
}